*{
    font-family: 'Lemonada', cursive;
}

/* -------------NAVBAR--------------- */
.navbar {
    background-color: #857750;
}
/* LOGO */
.container-navbar .logo-house{
    object-fit: cover;
    width: 30%;
    border-radius: 10px;
}


.container-navbar .logo-nav{
    width: 28%;
}

.container-navbar a{
    width: 20%;
}


/* LINKS */
.navbar-item a{
    font-size: 1.2rem;
    color: white;
    width: 100%;
}

.navbar-nav{
    margin-right: 13%;
    margin-left: 0%;
}

/* CART WIDGET */
.navbar svg{
    margin-left: 10rem;
    margin-right: 2.5rem;
}


/* CONTENEDOR DE LAS CARDS */
.card-container ul li{
    list-style: none;
}

.card-container ul li a{
    text-decoration: none;
    color: black;
}


.card-container ul {
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: solid;
    border-color: whitesmoke;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-left: 10rem;
}

.card h3{
    font-size: 1.5rem;
}

.card a{
    width: 55%;
}

.card:hover{
    -webkit-box-shadow: 10px 10px 39px -1px rgba(143,143,143,0.65);
-moz-box-shadow: 10px 10px 39px -1px rgba(143,143,143,0.65);
box-shadow: 10px 10px 39px -1px rgba(143,143,143,0.65)
}


/* ITEMDETAIL */

.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    padding: 3%;
    margin: 3%;
}

.card-detail .price-detail{
    font-weight: bold;
    font-size: 1.5rem;
}
.card-detail button{
    border: none;
    background-color: #d6b96a;
}

.img-detail{
    object-fit: cover;
    width: 160%;
    height: 100%;
    margin-top: 8%;
}

.button-cart{
    width: 95%;
}

.navbar svg{
    margin: 0%;
}

.cart-counter{
    margin-right: 1.5%;
}

.counter-container .agregar-carrito{
    background-color: rgb(165, 108, 42);
    margin-left: 5%;
    padding: 2%;
    border-radius: 5px;
    border: none;
}


/* ----------Checkout----------- */
 
.resumen{
    padding: 3%;
    margin-left: 30%;
}

.check-productos{
    margin-left: 5%;
    padding: 1%;
}

.container-producto{
    -webkit-box-shadow: 10px 10px 39px -1px rgba(143,143,143,0.65);
    -moz-box-shadow: 10px 10px 39px -1px rgba(143,143,143,0.65);
    box-shadow: 10px 10px 39px -1px rgba(143,143,143,0.65);
    width: 50%;
}